body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: blue;
}
.container{
    display: flex;
    justify-content: center;
}
fieldset {
    border: none;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: aqua;
}

input[type="date"] {
    width: 150px;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 25px;
    background-color: #6153fb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



#result {
    font-weight: bold;
    text-align: center;
}